<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>

    <title>글쓰기</title>

</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <h1>글쓰기</h1>


        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

        <form id="writeForm">
            <div>
                <span>제목</span>
                <input type="text" name="subject" id="subject">
            </div>

            <div class="row">
                <span>내용</span>
                <div id="editor"></div>
            </div>

            <div>
                <span>키워드</span>
                <input type="text" name="keywords" id="keywords">
            </div>

            <div>
                <span>등록</span>
                <input type="button" value="등록" id="writeBtn">
            </div>
        </form>
    </div>

    <script src="/js/post/write.js"></script>
</section>
</body>
</html>