<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>로그인</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <h1>비밀번호 찾기</h1>

        <script>
            function FindPasswordForm__submit(form) {

                form.username.value = form.username.value.trim();

                if (form.username.value.length == 0) {
                    alert("아이디를 입력해주세요.");
                    form.username.focus();
                    return;
                }

                form.email.value = form.email.value.trim();

                if (form.email.value.length == 0) {
                    alert("이메일을 입력해주세요.");
                    form.email.focus();
                    return;
                }

                form.submit();
            }

        </script>

        <form th:action method="POST" onsubmit="FindPasswordForm__submit(this); return false;">
            <div>
                <span>아이디</span>
                <input type="text" name="username">
            </div>
            <div>
                <span>이메일</span>
                <input type="text" name="email">
            </div>
            <div>
                <input type="submit" value="비밀번호 찾기">
            </div>
        </form>

    </div>

</section>
</body>
</html>