<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>로그인</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <h1>로그인</h1>

        <form th:action method="POST" onsubmit="LoginForm__submit(this); return false;">
            <div>
                <span>아이디</span>
                <input type="text" name="username">
            </div>
            <div>
                <span>비밀번호</span>
                <input type="password" name="password">
            </div>
            <div>
                <span>로그인</span>
                <input type="submit" value="로그인">
            </div>
        </form>


        <a th:href="@{/member/findUsername}">아이디 찾기</a>
        <a th:href="@{/member/findPassword}">비밀번호 찾기</a>
    </div>

    <script src="/js/member/login.js">
    </script>

</section>
</body>
</html>