<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
  <title>회원정보수정</title>
</head>

<body>
<section layout:fragment="content">
  <div class="container">
    <h1>회원정보수정</h1>

    <script>
      function ModifyPasswordForm__submit(form) {
        form.oldPassword.value = form.oldPassword.value.trim();

        if (form.oldPassword.value.length == 0) {
          alert("비밀번호를 입력해주세요.");
          form.oldPassword.focus();
          return;
        }

        if (form.password.value.length == 0) {
          alert("새비밀번호를 입력해주세요.");
          form.password.focus();
          return;
        }

        form.passwordConfirm.value = form.passwordConfirm.value.trim();

        if (form.passwordConfirm.value.length == 0) {
          alert("비밀번호확인을 입력해주세요.");
          form.passwordConfirm.focus();
          return;
        }

        form.password.value = form.password.value.trim();

        if (form.password.value != form.passwordConfirm.value) {
          alert("비밀번호가 일치하지 않습니다.");
          form.passwordConfirm.focus();
          return;
        }


        form.submit();
      }

    </script>


    <form th:action method="POST" onsubmit="ModifyPasswordForm__submit(this); return false;">
      <div>
        <span>비밀번호</span>
        <input type="password" name="oldPassword">
      </div>

      <div>
        <span>새 비밀번호</span>
        <input type="password" name="password">
      </div>

      <div>
        <span>비밀번호 확인</span>
        <input type="password" name="passwordConfirm">
      </div>

      <div>
        <span>수정</span>
        <input type="submit" value="수정">
      </div>
    </form>
  </div>
</section>
</body>
</html>